* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0c2c;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffffd8;
  border-radius: 18px;
}

.pricing {
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
  padding: 3rem;
  gap: 40px;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;
  color: #0f0c2c;
  flex: 1;
  background-color: white;
}

h2 {
  margin: 5px 0;
}

.price,
.price-info,
.main-text {
  padding-bottom: 10px;
}

li {
  list-style: none;
  padding-bottom: 5px;
  margin-top: 7px;
  font-weight: 600;
  font-size: 13px;
}

.btn {
  text-decoration: none;
  font-weight: 600;
  color: #0f77ff;
}

.card h2 {
  background-color: #e4e4e4;
  text-transform: uppercase;
  padding: 15px;
  font-size: 18px;
  color: 333;
  width: 90%;
  margin: 10px auto;
}

.card-pro h2 {
  background: linear-gradient(62deg, rgba(58, 172, 180, 1) 0%, rgba(174, 90, 242, 1) 100%, rgba(252, 176, 69, 1) 100%);
  color: white;
}

.card-enterprise h2 {
  color: white;
  background: linear-gradient(62deg, rgba(180, 58, 154, 1) 0%, rgba(242, 214, 90, 1) 100%, rgba(252, 176, 69, 1) 100%);
}

.price {
  font-size: 45px;
  font-weight: 600;
  margin: 25px 0;
}

sup,
span {
  font-size: 14px;
}

.price-info {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.main-text {
  font-size: 12px;
  line-height: 17px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn {
  border: solid 1px black;
  padding: 12px 70px;
  border-radius: 8px;
  color: #0f0c2c;
}

.btn-primary {
  color: white;
  background-color: #0f0c2c;
}

ul {
  margin-top: 50px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1136px) {
  .btn,
  .a {
    width: 40%;
    padding: 10px 20px;
  }

  li {
    text-align: center;
  }
  ul {
    padding-left: 0;
  }
  .card {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .pricing {
    flex-direction: column;
  }
  li {
    text-align: center;
    font-size: 20px;
  }
  ul {
    padding-left: 0;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .btn,
  .a {
    width: 40%;
    padding: 10px 20px;
  }
  li {
    font-size: 14px;
  }
  .pricing {
    padding: 1.5rem 2.5rem;
  }
  .card {
    width: 100%;
  }
}
