* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0c2c;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffffd8;
  border-radius: 18px;
}

.pricing {
  display: flex;
  justify-content: space-between;
  margin-top: 14rem;
  padding: 6rem;
  gap: 40px;
}

.card {
  box-shadow: 5px 5px 15px -1px #000000;
  text-align: center;
  border-radius: 8px;
  color: #0f0c2c;
  flex: 1;
  background-color: white;
}

h2 {
  margin: 5px 0;
}

.price,
.price-info,
.main-text {
  padding-bottom: 10px;
}

li {
  list-style: none;
  padding-bottom: 10px;
  margin-top: 10px;
}

.btn {
  text-decoration: none;
  font-weight: 600;
  color: #0f77ff;
}

.card-free h2 {
  background-color: #e7e7e7;
  width: 90%;
  margin: 0 auto;
  padding: 8px 0;
  margin-top: 5px;
  margin-bottom: 2rem;
}
